.jsVsnode {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px;
    width: 75%;
    margin: 50px auto;
}

@media only screen and (max-width: 800px) {
    .jsVsnode {
        grid-template-columns: 1fr;
    }
}